div{
    margin-left:300px;
    width:60%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: large;
    color: green;
  }
button {
    width:40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-left:10px;
    margin-top:5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }